body {
  position: relative;
  color: #02051b;
  margin: 0;
  padding: 0;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTT4W6OxOZIA1CpY1nRkX_6blfjXkQbAslTHh-dZGc2JoxyUbfvDRUYA2fXvG8dFAWFr04&usqp=CAU");
  background-size: cover;
  opacity: 0.3;
}

img {
  float: left;
  margin-right: 10px;
  width: 2cm;
  height: 2cm;
  border-radius: 50%;
  box-shadow: 20px 10px 20px rgba(0, 0, 0, 0.6);
}

.Pendente {
  background-color: #f4f476;
}

.Fora {
  background-color: #ff7575;
}

.Dentro {
  background-color: #3bb03b;
}

.marca {
  padding-left: 50px;
  padding-bottom: 50px;
  float: center;
  text-align: center;
  font-size: 10px;
  display: inline;
}

h1 {
  display: inline;
  margin-left: 20px;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
.botao-sortear {
  background-color: #1a7c1a; /* verde */
  color: white;
  margin: 10px;
  padding: 10px 130px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
