<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta charset="UTF-8">
    <img src="{% static 'logo.jpg' %}" alt="logo">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ELITE FC</title>
    <style>
        .Pendente { background-color: #f4f476; }
        .Fora { background-color: #ff7575; }
        .Dentro { background-color: #3bb03b; }
    </style>
</head>
<body>
    <h1>ELITE FC</h1>
    <h3 class="marca">dato®</h3>
    <h2>Contratar Jogador</h2>
    <form method="POST" action="{% url 'adicionar_jogador' %}">
        {% csrf_token %}
        <label>Nome:
            <input type="text" name="nome" required>
        </label>
        <label>Posição:
            <select name="posicao" required>
                <option value="Zagueiro">Zagueiro</option>
                <option value="Meia">Meia</option>
                <option value="Atacante">Atacante</option>
                <option value="Goleiro">Goleiro</option>
            </select>
        </label>
        <br>
        <label>Nível:
            <input type="number" name="nivel" min="0" max="10" required>
        </label>
        <button type="submit">Adicionar</button>
    </form>
    <form method="POST" action="{% url 'sortear' %}">
        <button class="botao-sortear" type="submit" name="sortear_times">Sortear Times</button>
    </form>

    <form id="resetarForm" method="POST" action="{% url 'resetar_status' %}" onsubmit="return validarSenha()">
        {% csrf_token %}
        <button type="submit" name="resetar_status">Resetar Status</button>
        <label for="senha">Senha Admin:</label>
        <input type="password" name="senha" id="senha" required placeholder="Digite a senha">
    </form>
    <span id="senhaAlerta" style="color: red; display: none;">Senha Inválida. Tente novamente.</span>

    <table border="1">
        <tr>
            <th>Nome</th>
            <th>Posição</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
        {% for jogador in jogadores %}
        <tr>
            <td>{{ jogador.nomeJogador|upper }}</td>
            <td>{{ jogador.posicao }}</td>
            <td class="{{ jogador.status }}">{{ jogador.status }}</td>
            <td>
                <form method="POST" action="{% url 'mudar_status' nome=jogador.nomeJogador %}">
                    {% csrf_token %}
                    <select name="novo_status">
                        {% if jogador.status == 'Pendente' %}
                        <option value="Dentro">Dentro</option>
                        <option value="Fora">Fora</option>
                        {% elif jogador.status == 'Dentro' %}
                        <option value="Pendente">Pendente</option>
                        <option value="Fora">Fora</option>
                        {% else %}
                        <option value="Pendente">Pendente</option>
                        <option value="Dentro">Dentro</option>
                        {% endif %}
                    </select>
                    <button type="submit">Confirmar</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
